body, html {
    height: 100%;
}

.parallax { 
    /* The image used */
    background-image: url("images/pBg.jpg");

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.welcomeContent {
	margin-top: 5em;
	font-family: 'Roboto Slab', serif;
	color: white;
}

.myworksContent {
	background-color: white;
	margin-top: 23em;
	padding-top: 5em;
	padding-bottom: 5em;
}

.aboutContent {
  color: white;
  background-color: #282828;
  margin-top: 5em;
  padding-top: 10em;
  padding-bottom: 10em;
}

.cp1 {
  background-image: url(images/guidenest.jpg); 
  background-size: contain cover; 
  background-repeat: no-repeat; 
  background-position: center center; 
  min-height: 385px; 
  min-width: 278px;
}

.cp2 {
    background-image: url(images/roysilog.jpg); 
  background-size: contain cover; 
  background-repeat: no-repeat; 
  background-position: center center; 
  min-height: 385px; 
  min-width: 278px;
}

.cp3 {
  background-image: url(images/grounds.jpg); 
  background-size: contain cover; 
  background-repeat: no-repeat; 
  background-position: center center; 
  min-height: 385px; 
  min-width: 278px;
}

.me {
  border-radius: 20px;
  border: 2px solid grey;
}

.skillsLogo {
 height: auto; 
 width: 350px;
}

.skillsLogo2 {
 height: auto; 
 width: 320px;
 padding: 0;
}

ul {
   list-style: none;
}












































.navbar.solid {
  background-color: #282828;
  transition: background-color  ease 0s;
  box-shadow: 0 0 4px grey;

    .navbar-brand {
      color: #C57ED3;
      transition: color 1s ease 0s;
    }

    .navbar-nav {

       > li {

          > a {
            color: #C57ED3;
            transition: color 1s ease 0s;
          }

       } //end li

    } //end .navbar-nav

}




.scrollbar {
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 25px;
}
.force-overflow {
    min-height: 450px;
}

.scrollbar-primary::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #4285F4; }

.scrollbar-danger::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-danger::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-danger::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #ff3547; }

.scrollbar-warning::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-warning::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-warning::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #FF8800; }

.scrollbar-success::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-success::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-success::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #00C851; }

.scrollbar-info::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-info::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-info::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #33b5e5; }

.scrollbar-default::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-default::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-default::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #2BBBAD; }

.scrollbar-secondary::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-secondary::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-secondary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #aa66cc; }

